{% extends "task_manager/base.html" %}

{% block content %}
<div class="container" id="chat-page">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" id="chat-log">
            {% for message in messages %}
            <div 
            class="msg {% if message.author.id == request.user.id %}message-right{% else %}message-left{% endif %}" 
            data-message-id="{{ message.id }}" 
            data-is-own-message="{% if message.author.id == request.user.id %}true{% else %}false{% endif %}">
                <p style="margin-top: 10pt;">
                    <b style="font-size: 11pt; padding-left: 5px;">{{ message.author.username }} </b>
                    <span id="msg-date" style="padding-right: 5px;">{{ message.timestamp|date:"m/d/Y H:iA" }}</span></br>
                    <button id="message-container" type="button" class="btn message-badge {% if message.author == request.user %}btn-success msgRight {% else %}btn-secondary msgLeft{% endif %} position-relative" data-author-id="{{ message.author.id }}" data-user-id="{{ request.user.id }}" data-message-id="{{ message.id }}">
                        {{ message.content }}
                    </button>
                </p>
            </div>
            {% endfor %}
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-1">
        <div class="col-2"></div>
        <div class="col-8 p-10 px-0 mx-0">
            <div class="d-flex flex-row mb-3">
                <button class="btn px-0 mx-0 flex-shrink-1 align-self-start" id="add-more-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                      </svg>
                </button>
                <textarea class="align-self-start mx-0 w-100" id="chat-message-input" rows="1" placeholder="Type your message..."></textarea>
                <button class="btn btn-primary px-0 mx-0 flex-shrink-1 align-self-start" id="chat-message-submit" type="button" value="Send">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<script type="text/javascript">
    var roomName = {{ room_name_json|safe }};
    const currentUsername = "{{ current_user|escapejs }}";
    const currentUserId = "{{ current_user_id|escapejs }}";
</script>
{% endblock %}
{% load static %} 
{% block scripts %}
<script src="{% static 'js/chat_handling.js' %}"></script>
{% endblock %}