<!-- tasks/templates/tasks/project_list.html -->
{% extends "task_manager/base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <h1 class="ps-3 pt-3">Chat History</h1>
        </div>
        <div class="list-group w-50">
            {% for room in object_list %}
            <ul class="list-group list-group-horizontal w-100 shadow-lg" id="room-{{ room.id }}">
                <li class="list-group-item w-25 mb-1 pt-4">{{ room.name }}</li>
                <li class="list-group-item w-50 mb-1 pt-4">{{ room.created_at|date:"F d, Y h:iA"  }}</li>
                <li class="list-group-item w-25 mb-1 pt-4"><a class="btn btn-primary w-100" href="{% url 'chatapp:chat' room_name=room.name %}">{{ room.id }}</a></li>
              </ul>
            {% endfor %}
        </div>
        <div class="row">
            <div class="ps-3 p-3">
                   <a type="button" class="btn btn-success" href="{% url 'chatapp:chat_create' %}">New Chat</a> 
            </div>
        </div>
    </div>

{% endblock %}

<!-- <a href="{% url 'chatapp:chat' room_name=room.name %}" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-25 justify-content-between">
        <h5 class="mb-1">{{ room.name }}</h5>
        <small>{{ room.created_at }}</small>
    </div>
    <p class="mb-1"></p>
    <small></small>
    </a> -->