{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mb-1">
        <div id="chat-log">
            {% for message in messages %}
            <div class="{% if message.author == request.user %}message-right{% else %}message-left{% endif %}">
                <p>
                    <b>{{ message.author.username }}</b> 
                    <span id="msg-date">{{ message.timestamp|date:"m/d/Y H:iA" }}:</span><br>
                    <span class="message-badge {% if message.author == request.user %}text-bg-success{% else %}text-bg-secondary{% endif %}">
                        {{ message.content }}
                    </span>
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row mb-1">
        <input id="chat-message-input" type="text" size="100"><br>
    </div>
    <div class="row">
        <input class="btn btn-primary" id="chat-message-submit" type="button" value="Send">
    </div>
</div>
<script type="text/javascript">
    var roomName = {{ room_name_json|safe }};
</script>
{% endblock %}