{% extends "base.html" %}

{% block content %}
<h1 class="p-3">{{ project.name }}</h1>
<div class="container">
    <p>Description: {{ project.description }}</p>
    <a href="{% url 'project_edit' project.id %}">Edit Project</a> |
    <a href="{% url 'project_delete' project.id %}">Delete Project</a>
</div>

<div class="container">
    <div class="row pt-3">
       <h2>Tasks</h2> 
    </div>
    <ul>
        {% for task in project.tasks.all %}
        <div class="row">
            <li>
                <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a> - {{ task.is_completed|yesno:"Completed,In Progress" }}
            </li>
        </div>

        {% endfor %}
    </ul>
    <a href="{% url 'task_create' project.id %}">Add New Task</a>
</div>

{% endblock %}
