<!-- tasks/templates/tasks/task_detail.html -->
{% extends "task_manager/base.html" %}

{% block content %}
<h1>{{ task.title }}</h1>
<div>
    <strong>Assigned to:</strong> {{ task.assigned_to.username }}<br>
    <strong>Description:</strong> {{ task.description }}<br>
    <strong>Status:</strong> {{ task.is_completed|yesno:"Completed,In progress" }}<br>
    <strong>Created at:</strong> {{ task.created_at }}<br>
    <strong>Last Updated:</strong> {{ task.updated_at }}<br>
</div>

<a href="{% url 'tasks_app:task_edit' task.id %}">Edit Task</a> |
<a href="{% url 'tasks_app:task_delete' task.id %}">Delete Task</a>
{% endblock %}
