{% extends "task_manager/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Are you sure you want to delete {{ task.title }}?</h1>
    </div>
    <div class="row">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
            <a href="{% url 'tasks_app:project_detail' task.project.id %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}