input[type="date"].form-control {
    appearance: auto;
}

#chat-log {
    width: 100%; 
    height: 400px; 
    overflow-y: scroll; 
    border: 1px solid rgb(161, 161, 161); 
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
}

.message-right, .message-left {
    max-width: 75%;
    word-wrap: break-word;
}

.message-right {
    margin-left: auto;
    text-align: right;
}

.message-left {
    margin-right: auto;
    text-align: left;
}

.msgRight {
    text-align: left !important;
}

.chat-message {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* .chat-message:hover .badge {
    display: flex; 
}

.badge {
    /* position: absolute; */
    top: 5px;
    right: 5px;
    /* display: none;  */
} */

.message-badge {
    display: inline-block;
    padding: 20px 25px;
    font-size: 14px;
    line-height: 1.1;
    word-wrap: break-word;
    word-break: break-word;
    border-radius: 15px;
    background-color: #6c757d;
    color: white;
}

.message-badge.text-bg-success {
    background-color: #198754; /* Success green */
}

.message-badge.text-bg-secondary {
    background-color: #6c757d; /* Secondary gray */
}

#chat-message-input {
    border: 1px solid rgb(161, 161, 161); 
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word;
    word-break: break-word;
    resize: none;
    min-height: 50px;
    max-height: 200px;
    width: 100%;
    box-sizing: border-box; 
}

#chat-message-submit {
    max-width: 200px;
}

#msg-date {
    font-size: 8pt;
    color: rgb(120, 120, 120);
}
/* static/css/style.css */
/* body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
} */

/* header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
} */

/* nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
} */

/* div {
    margin: 20px;
} */

/* footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
} */
